.post_wrapper {
    font: "Roboto";
}
.search-group {
    margin-top: 3%;
    padding-bottom: 3%;
}

.image_upload, .rating, .review {
    margin-bottom: 3%;
}

.back_button {
    position: fixed;
    margin-left: 10%;
}