.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Add this line */
}

.navlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.navlinks > * {
  flex: 1;
}

.search-container {
  flex: 1;
}

.navbar-logo {
  display: flex;
}
